Package: vflow
Version: %VERSION%
Architecture: amd64
Source: vflow
Maintainer: Mehrdad Arshad Rad <arshad.rad@gmail.com>
Section: net
Priority: optional
Homepage: https://github.com/VerizonDigital/vflow
Description: High-performance, scalable and reliable IPFIX, sFlow and Netflow collector
 Features:
 .
 IPFIX RFC7011 collector
 sFLow v5 raw header packet collector
 Netflow v9 (Beta)
 Decoding sFlow raw header L2/L3/L4
 Produce to Apache Kafka, NSQ
 Replicate IPFIX to 3rd party collector
 Supports IPv4 and IPv6
